/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/19/16
author:    pureye4u
email:     pureye4u@gmail.com

website:   

version history: 1.0 Make default
-----------------------------------------------------------------------------*/

/* Styles for layout
-----------------------------------------------------------------------------*/

